asgiref==3.11.0 ; python_version >= "3.12" and python_version < "4.0"
django==6.0 ; python_version >= "3.12" and python_version < "4.0"
sqlparse==0.5.4 ; python_version >= "3.12" and python_version < "4.0"
tzdata==2025.2 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "win32"
