<nav class="navbar navbar-light bg-light mb-4">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">SkyproShop</a>
        <div>
            <a class="btn btn-outline-primary btn-sm me-2" href="{% url 'home' %}">
                Магазин
            </a>
            <a class="btn btn-outline-secondary btn-sm me-2" href="{% url 'blog:post_list' %}">
                Блог
            </a>
            <a class="btn btn-outline-secondary btn-sm" href="{% url 'contacts' %}">
                Контакты
            </a>
        </div>
    </div>
</nav>